/* Dallas Scott - ds4015 */


/* Larry Chen - LC3718 */

/* styling for quiz pages */
.box-bg {
  background-color: #ebf5ee;
  padding: 1em;
  border: 1px solid black;
  color: black;
}

.quiz-question {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: block;
  width: 100%;
}



/* for feedback message */
.feedback-message {
  padding: 10px;
  margin: 50px auto;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  width: 50%;
}

.correct-feedback {
  background-color: #4CAF50; /* Green for correct */
}

.incorrect-feedback {
  background-color: #f44336; /* Red for incorrect */
}

/* for next question buton */
.btn-primary {
  color: black;
  background-color: #DDFFF7;
  border: 1px solid black;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 50px auto;
}

.option-text label {
  font-size: 22px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  font-family: "Newsreader", serif;
  font-weight: 400;
  font-style: normal;
}


.box-bg-2 {
  background-color: #ebf5ee;
  padding: 0.5em;  
  border: 1.5px solid black;  
}
/* progress bar */
.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 100px auto;
  background-color: #f0f0f0;
}

.progress-bar-item {
  flex-grow: 1;
  height: 20px;
  background-color: #ddd;
  margin: 2px;
}

.progress-bar-item.active {
  background-color: #5C4033;
}

/* for /results page feedback message */
.feedback {
  color: black;
  font-family: "Viaoda Libre", serif;
  font-size: 50px;
  margin: 30px auto;
}

/* for results page score */
.score {
  font-size: 100px;
  font-weight: bold;
  font-family: "Cinzel", serif;
  padding: 10px;
  border: 1px dashed black;
  margin: 100px auto 20px auto;
}

/* for home page link on results page */
.blue {
  color: blue;
}

/* Fonts used */
.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


.cinzel-400 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.newsreader-400 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* min vertical height of page to allow scrolling */
body {
  background-color: #DDFFF7;
  min-height: 140vh;
}

/* line spacing */
p {
  line-height: 2;
}

/* used for puzzle input boxes */
.blank {
  display: inline-block;
  width: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  margin-right: 5px;
}
.correct {
  background-color: green;
}


/* cross off found letters in puzzle */
.crossed {
  position: relative;
}

span.crossed::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 140%;
  height: 1px;
  background-color: red; 
  transform: translateY(-50%) rotate(-45deg);
}

/* used to flip navigation arrows */
.flip-horizontal {
  transform: scaleX(-1);
}

/* CSS style arrows used in learning */
.arrow-up {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #48ADA9;
}


.arrow-up::after {
  content: "";
  position: absolute;
  top: 20px; 
  left: -5px;
  width: 10px; 
  height: 30px; 
  
  background-color: #48ADA9; 
  display: block;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #48ADA9;
  display: inline-block;
  position: relative;
}

.arrow-down::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -5px;
  width: 10px;
  height: 40px;

  background-color: #48ADA9;
  display: block;
}

.btn.custom-btn {
  background-color: #ebf5ee; 
  color: #6c757d; 
  padding: 20px 40px; 
  border: 2px solid #f5c6cb; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width:100%;
}

.p-justify {
  text-align: justify
}

/* letter input styling for puzzle */
input.puzzle {
  background-color: #ebf5ee;
  border: 1px solid #ccc;
  padding: 5px; 
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); 
  width: 20px;
  height: 25px;
}

/* red background for wrong letters in puzzle */
input.incorrect {
  background-color: #FF7377;
  width: 26px;
}

/* old implementation */
/* .box-bg {
  background-color: #33658A;
  padding: 1em;
  border: 1px solid black;
} */

.gray {
  background-color: darkgray;
}

/* used for puzzle solution */
.green {
  color: green;
  font-weight: bold;
}

.btn.custom-btn:hover {
  background-color: #07393cff; 
  color: #ffffff;
}
.btn.custom-btn:active {
  background-color: #2ba19f; 
}

/* top navigation/title bars */
.top-bar {
  background-color: #07393cff;
}

.title-bar {
  background-color: #2ba19f;
}

.col-bar {
  border-right: 1px solid #2ba19f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-body-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

  figcaption {
    font-size: 14px;
    color: #000;
    margin-top: 5px;
}
.text-semi-light {
    color: #d6d6d6;
}

.concept-box {
  background-color: #FF7377;
  border: 1.5px solid #07393cff;
}

.concept-text {
  font-size:12px;
  color: #fff;
}

a:hover {
  color: #D3DCD6; 
}

.bullet1 {
  font-size: 20px;
  color: #86615c;
  padding: 1em;
}

.bullet2 {
  font-size: 20px;
  color: #9b287b;
  padding: 1em;
}


.score-size {
  font-size: 65px;
}


/* text sizing for different screen sizes */

/* small screens */
@media screen and (max-width: 768px) {
  .text {
      font-size: 14px; 
  }
  .sub-heading {
    font-size: 15px;
  }
  .heading {
    font-size: 33px;
  }
  .first-letter {
    font-size: 42px; 
    font-weight: bold;
  }
  
  .first-letter-btn {
    font-size: 27px; 
    font-weight: bold;
  }  
  .text-md {
    font-size: 14px;
  }
  .text-sm {
    font-size: 12px;
}
}

/* medium screens */
@media screen and (min-width: 810px) and (max-width: 1280px) {
  .text {
      font-size: 18px;       
  }
  .sub-heading {
    font-size: 25px;
  }
  .heading {
    font-size: 39px;
  }
  .first-letter {
    font-size: 46px; 
    font-weight: bold;
  }
  .first-letter-btn {
    font-size: 31px; 
    font-weight: bold;
  }  
  .text-md {
    font-size: 18px;
  }
  .text-sm {
    font-size: 14px;
}
  .text-lg {
    font-size: 20px;
  }
.col-min {
  min-height: 250px;
  max-height: 300px;
}

.model-height {
  min-height: 450px;
  max-height: 500px;
}
  
}

/* large screens */
@media screen and (min-width: 1281px) {
  .text {
      font-size: 25px; 
  }
  .sub-heading {
    font-size: 30px;
  }
  .heading {
    font-size: 46px;
  }
  .first-letter {
    font-size: 53px; 
    font-weight: bold;
  }  
  .first-letter-btn {
    font-size: 38px; 
    font-weight: bold;
  }
  .text-md {
    font-size: 20px;
  }
    
  .text-lg {
    font-size: 23px;
  }
  .text-sm {
    font-size: 16px;
  }
  .col-min {
    min-height: 300px;
    max-height: 350px;
  }
  .model-height {
    min-height: 500px;
    max-height: 550px;
  }

}

.custom-col {
  max-height: 50px;
}

/* old implementation */
.white-text {
  color: #FFFFFF;
}
.navbar-bg {
  background-color: #2F4858; 
}

/* left and right boxes with dashed borders */
.box-left {
  background-color: #ebf5ee;
  border: 1.5px dashed #07393cff;
}

.home-box{
  border: 1.5px solid #07393cff;
}


.tool-box {
  max-height:50px;
}

.box-right {
  background-color: #DDFFF7;
  border: 1.5px dashed #07393cff;
}

  
/* remove underline from links */
  a {
    color: inherit; 
    text-decoration: none;
}
  