<!-- Dallas Scott - ds4015 -->
{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'display_film.js') }}"></script>
<script>
  let film = {{film|tojson}};
</script>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-7">
            <div id="filmData"></div>
        </div>
        <div class="col-md-5 col-5">
            <div id="trailer" class="p-5"></div>
        </div>
    </div>

</div>
{% endblock %}


