<!-- Dallas Scott - ds4015 -->
{% extends "layout.html" %}
{% block content %}
<div class="row p-4 mt-5 justify-content-center">
    <div class="col-12 text-center sub-heading quintessential-regular">
        <p>You've been learning for {{minutes}} minutes.</p>
        <p>Now it's time to test your knowledge.</p>
    </div>
</div>
<div class="row p-4 justify-content-center">
    <div class="col-3 text-center sub-heading quintessential-regular">
        <a href="/quiz/1"><button class="btn btn-primary btn-rounded custom-btn sub-heading cinzel-400"><span class="first-letter">Q</span>uiz Me</button></a>
    </div>
</div>



{% endblock %}