<!-- Dallas Scott - ds4015 -->
{% extends "layout.html" %}
{% block content %}
<script>
  var puzzleList = {{ lesson['puzzle'] | tojson }};
  var solution = {{ lesson['solution'] | tojson }};
</script>
<div class="container-fluid">
  <div class="d-flex flex-row mt-5">
    <div class="col-12 col-md-6 col-lg-4 p-4">
      <div class="row">
        <div class="col-12 box-left quintessential-regular text">
          <div class="row">
            <div class="col-12 heading text-center p-3">
              {{ lesson.concept_title}}
            </div>
          </div>
          <div class="row p-3 pt-0">
            <div class="col-12">
              {{ lesson.left_box | safe }}
            </div>
          </div>
          {% if lesson.nt_effect %}
          <div class="d-flex flex-row justify-content-center p-5 pb-4 pt-0">
            <div class="col-2">
              <span class="arrow-up"></span>
            </div>
            <div class="col-10 pt-3">
              {{ lesson.concept_title }}
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-7 text-left text-sm text-muted">
              Increase leads to 
              {% if lesson.nt_dir == "Down" %}
              decrease
              {%else%}
              increase
              {%endif%}
              in
            </div>
          </div>
          <div class="row justify-content-center p-5 pt-4">
            <div class="d-flex col-2 pt-3">
              {%if lesson.nt_dir == "Up" %}
              <span class="arrow-up"></span>
              {%else%}
              <span class="arrow-down"></span>
              {%endif%}
            </div>
            <div class="d-flex align-content-start col-10 pb-2">
              <p>{{ lesson.nt_effect }}</p>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>

   
    {% if lesson.model %}
    <input type="hidden"  id="modelTest" value="yes_model">
    <input type="hidden"  id="modelBg" value="{{lesson.model_bg}}">
    <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center" id="model" data-path='{{ model }}'>
    </div>
    {% elif lesson.video %}
    <input type="hidden"  id="modelTest" value="no_model">
    <div class="col-12 col-md-6 col-lg-5 p-4">
      <iframe width="560" height="315" src="{{ lesson.video }}"></iframe>
    </div>
    {% else %}
    <input type="hidden"  id="modelTest" value="no_model">
    <div class="col-12 col-md-6 col-lg-5 p-4">
      <img class="col-12" src="/static/{{lesson.right_image}}" alt="{{ lesson.concept_title}}">
    </div>
    {% endif %}

    {% if lesson.puzzle %}
    <div class="col-12 col-md-6 col-lg-3 p-4">
    
      <div class="row box-right">
        <div class="col-12 cinzel-400 text-md pt-3" id="puzzle">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center viaoda-libre-regular text-md p-2" id="status"></div>
      </div>
      {% endif %}

      {% if lesson.mnemonic %}
    <div class="row justify-content-center">
      <div class="col-10 concept-box mt-4 pt-2 pl-3 concept-text">
        <div clas="row">
          <div class="col-12 quintessential-regular text-sm">Mnemonic</div>
        </div>
        <div class="row">
          <div class="col-12 text-center cinzel-400 p-2 text-sm">
            {% for m in lesson.mnemonic %}
            {{m | safe}}
            {%endfor%}
          </div>
        </div>

      </div>
      {%endif%}


    </div>
    </div>


  </div>
  <div class="row p-3 pt-5 justify-content-center">
    <div class="col-12 viaoda-libre-regular text-center text-md text-muted">
          {{ duration | safe }}
    </div>
  </div>
</div>



{% endblock %}