{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row source-code text-center p-3">
        <div class="col-12 sub-heading p-3 mt-2 mb-3">
            <i>Quiz - Question {{qnum}}</i>
        </div>
    </div>
    <div class="row source-code white-text justify-content-center">
        <div class="col-7 box-bg p-4">
            <span class="text-md">{{ question.question }}</span>
            <div class="box-bg-2 p-3 m-4">
                <form action="" method="post">
                    {% if question.image %}
                    <div class="text-center m-4"><img src="/static/{{ question.image }}" style="max-width: 100%; height: auto;"></div>
                    {% endif %}
                    <form action="/quiz/{{ question.quiz_id }}" method="post">
                        {% for option in question.options %}
                        <input type="radio" name="option" value="{{ option }}"> {{ option }}<br>
                        {% endfor %}
            </div>
        </div>
    </div>
    <div class="row source-code white-text justify-content-center m-4">
        <div class="col-12 text-center">
            <button type="submit" class="box-bg-2 d-inline-flex text-md source-code white-text">Next question</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function (event) {
                if ("{{ question.next_question }}" == "end") {
                    event.preventDefault();
                    window.location.href = "/results";
                }
            });
        });
    </script>

    {% endblock %}