<!-- Dallas Scott - ds4015 -->
{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>{{ question.question }}</h1>
    <form action="" method="post">
        {% for option in question.options %}
            <input type="radio" name="option" value="{{ option }}"> {{ option }}<br>
        {% endfor %}
        <button type="submit">Next question</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){
            $('form').submit(function(event) {
                if ("{{ question.next_question }}" == "end") {
                    event.preventDefault();
                    window.location.href = "/results";
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}


