<!-- Dallas Scott - ds4015 -->
{% extends "layout.html" %}
{% block content %}

<script>var puzzleList = "No puzzle";</script>
<div class="d-flex flex-row p-4 pt-3">
  <div class="col-12 col-md-6 col-lg-4 newsreader-400 sub-heading pt-5 p-4">
    <p class="p-justify"><span class="first-letter">T</span>he brain is the most complex
      organ in the human body.</p><br>

    <p class="p-justify">It processes stimuli from the
      senses, controls behavior, and
      stores information.</p><br>
    <p class="p-justify">Let’s learn some of the basics about
      this organ and how it functions.</p>
  </div>
  <input type="hidden" id="rotSpeed" value=0.01>
  <input type="hidden" id="modelBg" value="0xDDFFF7">
  <input type="hidden" id="modelTest" value="yes_model">

  <div class="col-12 col-md-6 col-lg-4 justify-content-center" id="model" data-path='{{ model }}'>
  </div>

  <div class="col-12 col-md-12 col-lg-4 text-center mt-5">
    <div class="row p-4 mt-5 mb-3">
      <div class="col-12 p-4-lg p-0-md">
        <a href="/learn/1"><button type="button"
            class="btn btn-primary btn-rounded custom-btn newsreader-400 text"><span
              class="first-letter-btn">L</span>earn About the Brain</button></a>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-12 p-4-lg p-0-md pt-0">
        <a href="/quiz/1"><button type="button" class="btn btn-primary btn-rounded custom-btn newsreader-400 text"><span
              class="first-letter-btn">T</span>est Your Knowledge</button></a>
      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-12 viaoda-libre-regular text-sm text-center mt-1">It is currently {{ data | safe }}.</div>
  <div class="col-12 viaoda-libre-regular text-sm text-center p-3">(Click on the brain. Don't be squeamish.)</div>
</div>



{% endblock %}